<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @picture.name %>
</p>
<table>
<tbody>
  <tr>
  <%= image_tag(picture_picture_path(@picture),:size=>"500x500")%>
</tr>
</tbody>
</table>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
