<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <img class="icon" src="<%= "/s17874ty/painter/user_images/#{@post.user.image_name}" %>">
          <%= link_to(@user.nickname, "/s17874ty/painter/users/#{@user.id}") %>
      </div>
      <p>
        <%=@post.title%>
      </p>
      <p>
        <%=@post.content%>
      </p>
      <%= image_tag show_image_post_path(@post),class:"lerge-img" %>
      <div class="post-time">
        <%=@post.created_at%>
      </div>
      <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
        <%= link_to("/s17874ty/painter/likes/#{@post.id}/destroy", {method: "post"}) do %>
          <span class="fa fa-heart like-btn-unlike"></span>
        <% end %>
      <% else %>
        <%= link_to("/s17874ty/painter/likes/#{@post.id}/create", {method: "post"}) do %>
          <span class="fa fa-heart like-btn"></span>
        <% end %>
      <% end %>

      <%= @likes_count %>
      <% if @post.user_id == @current_user.id %>
         <div class="post-menus">
           <%= link_to("編集", "/s17874ty/painter/posts/#{@post.id}/edit") %>
           <%= link_to("削除", "/s17874ty/painter/posts/#{@post.id}/destroy", {method: "post"}) %>
         </div>
       <% end %>
      </div>

    </div>
  </div>
</div>
